/* Cluster Grundform */
.marker-cluster {
background:transparent;
border:none;
}

/* Innerer Kreis */
.marker-cluster div{
width:44px;
height:44px;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

font-weight:bold;
font-size:14px;

color:white;

border:3px solid white;

box-shadow:0 3px 10px rgba(0,0,0,0.3);
}

/* kleine Cluster */
.marker-cluster-small div{
background:#f4c542;
color:#000;
}

/* mittlere Cluster */
.marker-cluster-medium div{
background:#ff8c00;
}

/* große Cluster */
.marker-cluster-large div{
background:#c4001a;
}
